body {
  font-size: $base-font-size;
  font-family: $sans;
  line-height: $line-height-unitless;
  color: $body-text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: $line-height;
}

h1,
.h1 {
  font-size: $b2;
  margin-bottom: $line-height;
}

h2,
.h2 {
  font-size: $b1;
  margin-bottom: $line-height;
}

h3,
.h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}


a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: underline;
  }
  // j.mp/webkit-tap-highlight-color
  &:link {-webkit-tap-highlight-color: $secondary-color;}
}

ul,
ol {
  padding-left: $line-height;
  margin-bottom: $line-height;
}

blockquote {
  margin-left: $line-height;
  font-style: italic;
  color: $grey;
}

aside {
  color: $grey;
}

pre,
code {
  font-size: inherit;
  font-family: $monospace;
  background: $light-grey;
}

code {
  display: inline-block;
}

pre {
  display: block;
  white-space: pre-wrap; // CSS3
  word-wrap: break-word;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

.site-name {
  font-size: $base-font-size;
  font-weight: bold;
}

.is-current {
  text-decoration: line-through;
}

.description {
  color: $grey;
  font-style: italic;
}
